body {
    font-family: 'Quicksand';
    overflow-x: hidden;
}
.section {
    width: 100%;
    height: 100vh;
}
a {
    transition: all .2s;
}
a:hover {
    color: #00adb5;
    svg {
        color: #00adb5;
    }
}
#hero {
    background-color: #222831;
    position: relative;
    .title {
        font-size: 8rem;
        color: #ddd;
        animation: appear 1s cubic-bezier(0.85, 0, 0.15, 1), 
                    glow 1s cubic-bezier(0.85, 0, 0.15, 1),
                    moveTop 1s cubic-bezier(0, 0.55, 0.45, 1) 1s forwards;
    }
    p {
        animation: appear .6s ease-in 2s forwards,
                    moveTopDikit 1s cubic-bezier(0, 0.55, 0.45, 1) forwards;
        opacity: 0;
        color: #eee;
    }
    .socials {
        .social {
            opacity: 0;
            animation: moveTopDikit 1s 2.5s cubic-bezier(0, 0.55, 0.45, 1) forwards;
            margin-top: 1rem;
            &:nth-child(1) {
                animation: appear 1s ease-in 3s forwards,
                moveTopDikit 1s 2.5s cubic-bezier(0, 0.55, 0.45, 1) forwards;
            }
            &:nth-child(2) {
                animation: appear 1s ease-in 3.3s forwards,
                moveTopDikit 1s 2.8s cubic-bezier(0, 0.55, 0.45, 1) forwards;
            }
            &:nth-child(3) {
                animation: appear 1s ease-in 3.4s forwards,
                moveTopDikit 1s 3s cubic-bezier(0, 0.55, 0.45, 1) forwards;
            }
            &:nth-child(4) {
                animation: appear 1s ease-in 3.6s forwards,
                moveTopDikit 1s 3.2s cubic-bezier(0, 0.55, 0.45, 1) forwards;
            }
            span:hover {
                transform: translateY(-10px);
            }
        }
    }
    .question {
        opacity: 0;
        bottom: 10px;
        animation: questionSlideTop 2s ease 3.8s forwards,
                    appear 1s cubic-bezier(0, 0.55, 0.45, 1) 4.3s forwards;
    }
    .menus {
        li {
            opacity: 0;
            position: relative;
            &:before {
                content: '';
                width: 0;
                height: 1px;
                position: absolute;
                left: 0;
                background-color: #fff;
                bottom: 0;
                transition: all .6s cubic-bezier(0.85, 0, 0.15, 1);
            }
            &:hover:before {
                width: 100%;
            }
            &:nth-child(1) {
                animation: animateQuestion 2s ease 5s forwards,
                            appear 1s cubic-bezier(0, 0.55, 0.45, 1) 5.4s forwards;
            }
            &:nth-child(2) {
                animation: animateQuestion 2s ease 5.3s forwards,
                            appear 1s cubic-bezier(0, 0.55, 0.45, 1) 5.6s forwards;
            }
            &:nth-child(3) {
                animation: animateQuestion 2s ease 5.6s forwards,
                            appear 1s cubic-bezier(0, 0.55, 0.45, 1) 5.9s forwards;
            }
            &:nth-child(4) {
                animation: animateQuestion 2s ease 5.9s forwards,
                            appear 1s cubic-bezier(0, 0.55, 0.45, 1) 6.3s forwards;
            }
            &:nth-child(5) {
                animation: animateQuestion 2s ease 6.4s forwards,
                            appear 1s cubic-bezier(0, 0.55, 0.45, 1) 6.7s forwards;
            }
            &:nth-child(6) {
                animation: animateQuestion 2s ease 6.7s forwards,
                            appear 1s cubic-bezier(0, 0.55, 0.45, 1) 6.9s forwards;
            }
        }
        a {
            color: #ccc;
            &:hover {
                color: #fff;
            }
        }
    }
}


@import "./keyframes.scss";
@import "./responsive.scss"