@media screen and (max-width: 1020px) {
    #hero .title {
        line-height: 8rem;
    }
}
@media screen and (max-width: 576px) {
    #hero .title {
        font-size: 6rem;
    }
}
@media screen and (max-width: 768px) {
    #hero {
        height: 120vh;
    }
}